*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: 1s;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgb(178, 219, 205);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(82, 175, 144);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(26, 132, 94);
}

:root{
    --verde-claro : rgb(51, 243, 179);
    --container-produto : #fff;
    --fundo : #fff
    --texto : #262626;
    --btn-catalogo : #0d6efd;
}

.dark-mode:root{
    --verde-claro : #363636;
    --fundo : #252525;
    --texto : #eeeeee;
    --container-produto : #363636;
    --btn-catalogo : #363636;
}

body{
    background-color: var(--fundo);
}

.bg-verde{
    transition: 1s;
    background-color: var(--verde-claro);
}

.catalogo button{
    color: var(--btn-catalogo);
    padding: 8px 16px;
    margin-bottom: 4px;
    width: 100%;
}

.catalogo p{
    color: var(--texto);
}

.checkbox{
    appearance: none;
    width: 80px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px rgba(0,0,0,0.24);
    cursor: pointer;
    transition: .4s;
    position: relative;
}

.checkbox:checked{
    background-color:  #a7a6a6
}

.checkbox:before{
    content: '';
    width: 40px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.23);
    transform: scale(1.1);
    top: 0px;
    left: 0px;
    transition: .4s;
}

.checkbox:checked:before{
    left: 40px;
}

.texto{
    color: var(--texto);
}

.container-produto{
    background-color: var(--container-produto);
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.toggle-header{
    display: flex;
    align-items: center;
    gap: 2px;
}
